@(curdOpt: Integer,activeMenu: String, action: Object, f: Form[Batch])

<form id="frm1" name="frm1" action="@action" class="parsley-validation" method="POST" enctype="multipart/form-data">
    @helper.CSRF.formField
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn">
                        <i class="fa fa-users fa-lg"></i>
                         @Messages("app.batch.title")
                    </a>
                </div>
                <div class="col-md-9">
                    <a class="btn float-right" onclick="return showLoader();"
                       href='@controllers.operational.routes.BatchOps.index(4, activeMenu)'>
                        <i class="fa fa-retweet fa-lg"></i>
                         @Messages("app.menu.nav.all")
                    </a>
                    <a class="btn float-right" onclick="return showLoader();"
                       href="@controllers.operational.routes.BatchOps.selectRecord(1, activeMenu, 0)">
                        <i class="fa fa-plus fa-lg"></i>
                         @Messages("app.menu.nav.add")
                    </a>
                </div>
            </div>
        </div>
        <input type="hidden" name="batchId" id="batchId" value='@f("batchId").getValue().orElse("")'/>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label"
                       for="batchName">@Messages("app.batch.name")</label>
                <div class="col-md-9">
                    @if(curdOpt == 1 || curdOpt == 2){
                    <input class='form-control @if(f.getError("batchName").isPresent()){is-invalid}' id="batchName"
                           type="text" name="batchName" value='@f("batchName").getValue().orElse("")'
                           autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-parsley-minlength='@Messages("app.generic.alpha.numeric.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.generic.alpha.numeric.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.generic.alpha.numeric.pattern")'
                           data-parsley-pattern-message='@Messages("app.generic.alpha.numeric.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.batch.name")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")<br>@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")<br>@Messages("app.generic.alpha.numeric.desc")'>
                    <div class="invalid-feedback">
                        @for(error <- f("batchName").errors) {
                        @error.format(messages())
                        }
                    </div>
                    }else{
                    <p>@f("batchName").getValue().orElse("")</p>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="description">@Messages("app.desc")</label>
                <div class="col-md-9">
                    @if(curdOpt == 1 || curdOpt == 2){
                    <input class='form-control @if(f.getError("description").isPresent()){is-invalid}' id="description"
                           type="text" name="description" value='@f("description").getValue().orElse("")'
                           autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-parsley-minlength='@Messages("app.generic.alpha.numeric.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.generic.alpha.numeric.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.generic.alpha.numeric.pattern")'
                           data-parsley-pattern-message='@Messages("app.generic.alpha.numeric.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.desc")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")<br>@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")<br>@Messages("app.generic.alpha.numeric.desc")'>
                    <div class="invalid-feedback">
                        @for(error <- f("description").errors) {
                        @error.format(messages())
                        }
                    </div>
                    }else{
                    <p>@f("description").getValue().orElse("")</p>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="batchInchargeName">@Messages("app.batch.incharge.person.name")</label>
                <div class="col-md-9">
                    @if(curdOpt == 1 || curdOpt == 2){
                    <input class='form-control @if(f.getError("batchInchargeName").isPresent()){is-invalid}'
                           id="batchInchargeName"
                           type="text" name="batchInchargeName" value='@f("batchInchargeName").getValue().orElse("")'
                           autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-parsley-minlength='@Messages("app.generic.alpha.numeric.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.generic.alpha.numeric.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.generic.alpha.numeric.pattern")'
                           data-parsley-pattern-message='@Messages("app.generic.alpha.numeric.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.batch.incharge.person.name")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")<br>@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")<br>@Messages("app.generic.alpha.numeric.desc")'>
                    <div class="invalid-feedback">
                        @for(error <- f("batchInchargeName").errors) {
                        @error.format(messages())
                        }
                    </div>
                    }else{
                    <p>@f("batchInchargeName").getValue().orElse("")</p>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="batchInchargeEmail">@Messages("app.batch.incharge.person.email")</label>
                <div class="col-md-9">
                    @if(curdOpt == 1 || curdOpt == 2){
                    <input class='form-control @if(f.getError("batchInchargeEmail").isPresent()){is-invalid}'
                           id="batchInchargeEmail" type="batchInchargeEmail"
                           name="batchInchargeEmail" value='@f("batchInchargeEmail").getValue().orElse("")'
                           autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.batch.incharge.person.email")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")'>
                    <div class="invalid-feedback">
                        @for(error <- f("batchInchargeEmail").errors) {
                        @error.format(messages())
                        }
                    </div>
                    }else{
                    <p>@f("batchInchargeEmail").getValue().orElse("")</p>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="batchInchargePhone">@Messages("app.batch.incharge.person.phone")</label>
                <div class="col-md-9">
                    @if(curdOpt == 1 || curdOpt == 2){
                    <input class='form-control  @if(f.getError("batchInchargePhone").isPresent()){is-invalid}'
                           id="batchInchargePhone" type="text"
                           name="batchInchargePhone" value='@f("batchInchargePhone").getValue().orElse("")'
                           autocomplete="off" required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-parsley-minlength='@Messages("app.phone.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.phone.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.phone.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.phone.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.phone.pattern")'
                           data-parsley-pattern-message='@Messages("app.phone.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.batch.incharge.person.phone")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")<br>@Messages("app.validation.txt.min")@Messages("app.phone.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.phone.max")@Messages("app.validation.txt3")<br>@Messages("app.phone.desc")'>
                    <div class="invalid-feedback">
                        @for(error <- f("batchInchargePhone").errors) {
                        @error.format(messages())
                        }
                    </div>
                    }else{
                    <p>@f("batchInchargePhone").getValue().orElse("")</p>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="avatar">@Messages("app.admin.registration.avatar")</label>
                <div class="col-md-9">
                    @if(curdOpt == 1 || curdOpt == 2){
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="avatar" id="avatar">
                        <label class="custom-file-label" for="avatar"></label>
                    </div>
                    }else{
                    <p>@Messages("app.yes")</p>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="hidden" name="logo" id="logo" value='@f("logo").getValue().orElse("")'/>
            <button class="btn btn-sm btn-success" onclick="return showLoader();" type="submit">
                <i class="fa fa-dot-circle-o"></i> @Messages("app.submit")
            </button>
            <a class="btn btn-sm btn-danger" type="button" onclick="return showLoader();"
               href='@controllers.operational.routes.BatchOps.index(4, Messages("app.menu.user"))'>
                <i class="fa fa-ban"></i> @Messages("app.cancel")
            </a>
        </div>
    </div>
</form>