@(formTitle: String, action: Object, f: Form[User])

<form id="frm1" name="frm1" action="@action" class="parsley-validation" method="POST" enctype="multipart/form-data">
    @helper.CSRF.formField
    <div class="card">
        <div class="card-header">
            <strong>@formTitle</strong></div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-3 col-form-label"
                       for="username">@Messages("app.admin.registration.username")</label>
                <div class="col-md-9">
                    <input class='form-control @if(f.getError("username").isPresent()){is-invalid}' id="username"
                           type="text" name="username" value='@f("username").getValue().orElse("")' autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-parsley-minlength='@Messages("app.generic.alpha.numeric.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.generic.alpha.numeric.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.generic.alpha.numeric.pattern")'
                           data-parsley-pattern-message='@Messages("app.generic.alpha.numeric.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.admin.registration.username")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")<br>@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")<br>@Messages("app.generic.alpha.numeric.desc")'>
                    <div class="invalid-feedback">
                        @for(error <- f("username").errors) {
                        @error.format(messages())
                        }
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="userId">@Messages("app.admin.registration.user.id")</label>
                <div class="col-md-9">
                    <input class='form-control @if(f.getError("userId").isPresent()){is-invalid}' id="userId"
                           type="text" name="userId" value='@f("userId").getValue().orElse("")' autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-parsley-minlength='@Messages("app.generic.alpha.numeric.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.generic.alpha.numeric.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.generic.alpha.numeric.pattern")'
                           data-parsley-pattern-message='@Messages("app.generic.alpha.numeric.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.admin.registration.user.id")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")<br>@Messages("app.validation.txt.min")@Messages("app.generic.alpha.numeric.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.generic.alpha.numeric.max")@Messages("app.validation.txt3")<br>@Messages("app.generic.alpha.numeric.desc")'>
                    <div class="invalid-feedback">
                        @for(error <- f("userId").errors) {
                        @error.format(messages())
                        }
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email">@Messages("app.admin.registration.email")</label>
                <div class="col-md-9">
                    <input class='form-control @if(f.getError("email").isPresent()){is-invalid}' id="email" type="email"
                           name="email" value='@f("email").getValue().orElse("")' autocomplete="off"
                           required="required"
                           data-parsley-required-message='@Messages("page.validation.txt.Mandatory.yes")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.admin.registration.email")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.yes")'>
                    <div class="invalid-feedback">
                        @for(error <- f("email").errors) {
                        @error.format(messages())
                        }
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="phone">@Messages("app.admin.registration.phone")</label>
                <div class="col-md-9">
                    <input class='form-control  @if(f.getError("phone").isPresent()){is-invalid}' id="phone" type="text"
                           name="phone" value='@f("phone").getValue().orElse("")' autocomplete="off" data-parsley-minlength='@Messages("app.phone.min")'
                           data-parsley-minlength-message='@Messages("app.validation.txt.min")@Messages("app.phone.min")@Messages("app.validation.txt3")'
                           data-parsley-maxlength='@Messages("app.phone.max")'
                           data-parsley-maxlength-message='@Messages("page.validation.txt.max")@Messages("app.phone.max")@Messages("app.validation.txt3")'
                           data-parsley-pattern='@Messages("app.phone.pattern")'
                           data-parsley-pattern-message='@Messages("app.phone.desc")'
                           data-toggle="tooltip" data-html="true"
                           title='@Messages("app.validation.txt1")@Messages("app.admin.registration.phone")@Messages("app.validation.txt2")<br>@Messages("page.validation.txt.Mandatory.no")<br>@Messages("app.validation.txt.min")@Messages("app.phone.min")@Messages("app.validation.txt3")<br>@Messages("page.validation.txt.max")@Messages("app.phone.max")@Messages("app.validation.txt3")<br>@Messages("app.phone.desc")'>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="avatar">@Messages("app.admin.registration.avatar")</label>
                <div class="col-md-9">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="avatar" id="avatar">
                        <label class="custom-file-label" for="avatar"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="hidden" name="roleType" id="roleType" value='@f("roleType").getValue().orElse("")'/>
            <button class="btn btn-sm btn-success" type="submit">
                <i class="fa fa-dot-circle-o"></i> @Messages("app.submit")
            </button>
            <button class="btn btn-sm btn-danger" type="reset">
                <i class="fa fa-ban"></i> @Messages("app.cancel")
            </button>
        </div>
    </div>
</form>